parameters:
        - public/
        - src/
        - tests/
    ignoreErrors:
        # Acceptable pattern for abstract UUID class with static factory methods
        - '#Unsafe usage of new static\(\)#'
        # Doctrine LifecycleEventArgs generics are framework-level, cannot be specified
        - '#has parameter \$args with generic class Doctrine\\Persistence\\Event\\LifecycleEventArgs#'
        # Type narrowing checks that are safe but flagged
        - '#Call to function assert\(\) with true will always evaluate to true#'
        - '#Instanceof between .* will always evaluate to true#'
        - '#Call to function is_string\(\) with string will always evaluate to true#'
        - '#Call to function method_exists\(\) .* will always evaluate to true#'
        # Test-specific issues with PHPUnit and mocks
        - '#has an uninitialized readonly property#'
        - '#Readonly property .* is assigned outside of the constructor#'
        # Test data from arrays can be mixed, but validated in tests
        - '#Parameter .* expects .*, mixed given#'
        - '#Cannot cast mixed to (int|float)#'
        - '#Cannot call method .* on mixed#'
