<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
</head>
<body>
    <p>
        Hola {{ participant.name }}, <br />
        Gràcies per apuntar-te al tram {{ segment.id }}.
    </p>
    <p>
        Si vols desapuntar-te del tram fes clic <a href="{{ deregisterLink }}" target="_blank">aquí</a>
    </p>
    <p>
        Correllengua :)
    </p>
</body>
</html>